{% extends "base.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="container mt-3">
        <h2 class="mb-4">{{ title }}</h2>
        <div class="row">
            {% for project in projects %}
                <div class="col">
                    <div class="card mb-3" style="width: 90%; height: 100%">
                        <div class="card-header">
                            <div class="row-fluid">
                                {% for person in people %}
                                    {% if person.project_id == project.id %}
                                        <a href="#" style="text-decoration: none">
                                            <img src="{{ person.user.profile_picture.url }}" class="rounded-circle mt-1"  height="35" width="35" alt="profile_picture">
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="card-body d-flex flex-column">
                            <h4 class="card-title text-muted">{{ project.project_name }}</h4>
                            <p class="card-text mt-2">{{ project.description | truncatewords:15 }}</p>
                            <a href="{% url 'project_details' project.pk %}" class="btn btn-lg btn-primary" style="margin-top: auto;">Перейти</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}