{% extends "base.html" %}

{% block title %}
    {{ project }}
{% endblock %}

{% block content %}
    <div class="container">
        <form class="mt-5">
            <div class="mb-3 w-25">
                <label for="projectName" class="form-text text-muted fw-bold mb-1">Название</label>
                <input type="text" class="form-control" id="projectName" value="{{ project }}">
            </div>

            <div class="mb-3 w-25">
                <label for="projectName" class="form-text text-muted fw-bold mb-1">Руководитель проекта</label>
                <input type="text" class="form-control" id="projectName" value="{{ project_owner.user.first_name }} {{ project_owner.user.last_name }}">
            </div>
        </form>
    </div>
{% endblock %}